.Cards, .Decrement {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #AAAAAA;
  width: 65vw;
}

.Card {
  padding: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #1976d2;
  margin: 10px;
}

.container {
  display: flex;
}

.numberContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: 20px;
}

.Number {
  font-size: 30px;
}

button {
  color: #444444;
  background: #f3f3f3;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16pt;
  outline: none;
  margin: 10px;
}

.Title {
  margin: 50px 50px;
}